*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    background-image: url('../img/body_1366x768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.logo{
    background-image: url('../img/car.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 126px;
    height: 126px;
}

header > .description > .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > .description > .wrapper > .name{
    margin: 10px;
}

header > .description > .wrapper > .number{
    margin: 10px;
}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li{
    list-style-type: none;
    padding: 10px;
    margin: 0 2px;
    border: black solid 3px;
}

nav > ul > li > a{
    color: #000;
    text-decoration: none;
}

nav > ul > li > a:hover{
    color: #000;
    text-decoration: underline;
}