*{
    margin: 0;
    padding: 0;
}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li{
    background-color: darkcyan;
    list-style-type: none;
    padding: 10px;
}

nav > ul > li > a{
    color: #000;
    text-decoration: none;
}

nav > ul > li > a:hover{
    color: #000;
    text-decoration: underline;
}